<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <!--attachment_image_tag 保存先インスタンス名, :保存先カラム名, :サイズ（横幅,高さ）, 画像拡張子, 代替画像-->
  <!--fallback: 画像データがカラムにない場合、代わりに表示する画像-->
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>
<%= render "post_images/list", post_images: @post_images %>